<div class="container">
    <%= form_for @product do |f| %>
        <h3>投稿する</h3>
        <%= f.text_field :name %>
        <%= f.label :image, "化粧品写真" %>
        <%= f.file_field :image %>
        <%= f.text_area	 :feature %>
        <%= f.text_area	 :method %>
        <%= f.submit "送信" %>
    <% end %>
</div>