<h2>あなたにオススメのファンデーション</h2>
<% @foundations.each do |foundation| %>
    <div class="foundation">
        <h3><%= foundation.name %></h3>
        <div>
        <% if foundation.image? %>
            <%= image_tag(foundation.image.thumb.url) %>
        <% else %>
            <p>画像無</p>
        <% end %>
        </div>
        <%= link_to "詳細", "/products/#{foundation.id}", class: "btn", method: :get %>
    </div>
<% end %>
<h2>あなたにオススメのアイメイク</h2>
<% @eye_makes.each do |eye_make| %>
    <div class="eye_make">
        <h3><%= eye_make.name %></h3>
        <div>
        <% if eye_make.image? %>
            <%= image_tag(eye_make.image.thumb.url) %>
        <% else %>
            <p>画像無</p>
        <% end %>
        </div>
        <%= link_to "詳細", "/products/#{eye_make.id}", class: "btn", method: :get %>
    </div>
<% end %>
<h2>あなたにオススメのチーク</h2>
<% @cheeks.each do |cheek| %>
    <div class="cheek">
        <h3><%= cheek.name %></h3>
        <div>
        <% if cheek.image? %>
            <%= image_tag(cheek.image.thumb.url) %>
        <% else %>
            <p>画像無</p>
        <% end %>
        </div>
        <%= link_to "詳細", "/products/#{cheek.id}", class: "btn", method: :get %>
    </div>
<% end %>
<h2>あなたにオススメのリップ</h2>
<% @lips.each do |lip| %>
    <div class="lip">
        <h3><%= lip.name %></h3>
        <div>
        <% if lip.image? %>
            <%= image_tag(lip.image.thumb.url) %>
        <% else %>
            <p>画像無</p>
        <% end %>
        </div>
        <%= link_to "詳細", "/products/#{lip.id}", class: "btn", method: :get %>
    </div>
<% end %>