<!DOCTYPE html>
<html>
  <head>
    <title>Yurui</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header_left">
        <h1><a href="/">Yurui</a></h1>
      </div>
      <div class="header_right">
        <ul>
          <li>お問い合わせ</li>
          <li>インスタ</li>
          <li>ツイッター</li>
          <li>ブログ</li>
        </ul>
      </div>
    </header>
    
    <main class="main">
      <div class="main_visual">
        <%= image_tag 'main_visual' %>
      </div>
      <%= yield %>
    </main>
    
    <footer>
      <div class="footer_navi">
        <ul>
          <li>お問い合わせ</li>
          <li>インスタ</li>
          <li>ツイッター</li>
          <li>ブログ</li>
        </ul>
      </div>
      <div class="Copyright">
        <p>Copyright Yurui 2020.</p>
      </div>
    </footer>
    
  </body>
</html>
